@import url('https://fonts.googleapis.com/css2?family=Forum&family=Italiana&display=swap');
*{
  font-family: "Forum", sans-serif;
  font-weight: 100;
   font-style: normal;
}
.navbar {
  height: 90px;
  font-size: 20px;
  background-color: #fff;
  
  
 
  
}
.navbar-divider{
  
  
  width: 95%;
  margin:  0 auto;
  border-bottom: 2px solid #51A485;
  margin-top: 5px;

}





